* {
    box-sizing: border-box;
}

html {
    display: block;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background-color: #F9FAF9;
    font-family: 'Roboto', sans-serif;
}

.site-nav .navactive {
    color: #9A00FF;
}

#burgersection .sectionwrapper_bm .col_bm #navactive {
    color: #9A00FF;
}

.hidden {
    display: none;
    transform: translateX(150%);

}

header {
    z-index: 200;
    overflow: visible;
    width: 100%;
    max-width: none;
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
}

.flex {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex: 1;
}

.logocontainer {
    margin-right: 23px;
    max-width: 100%;
    display: inline-block;
    width: 100px;
    height: 27px;

}

a {
    text-decoration: none;
    font-size: 25px;
}

.site-tag {
    font-size: 25px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
}

.site-nav {
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.site-nav a {
    max-width: 100%;
    color: #000;
    display: inline-block;
}

.site-nav a:hover {
    color: #9A00FF;
}

.tema-nav {
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    margin-left: 67px;
}

.tema-nav a {
    width: 83px;
    color: #000;
    display: inline-block;
}


.tema-nav a:hover {
    color: #9A00FF;
}

.separator {
    width: 70px;
    height: 1px;
    margin-right: 22px;
    margin-left: 22px;
    background-color: #000;
    position: center;
}

.vandretseparator {
    width: 1px;
    height: 50px;
    margin-left: 33px;
    margin-right: -35px;
    background-color: #000;
}

.separator-navtema {
    width: 50px;
    height: 1px;
    margin-right: 22px;
    margin-left: 22px;
    background-color: #000;
    position: center;
}


.burgermenu {
    display: none;
}

.temaprojektbeskrivelse {
    font-size: 20px;
    margin-left: 279px;
    margin-right: 277px;
    line-height: 38px;
}

.portfolio-wrapper .wide-image .portfolio-image:hover {
    transform: scale(1.01);
}

.temaprojektdeskription {
    font-size: 20px;
    margin-left: 279px;
    line-height: 60px;
}

.scroll-up-arrow {
    position: fixed;

    font-size: 50px;
    bottom: 40px;
    right: 30px;
    color: #000;
}


.scroll-up-arrow:hover {
    color: #9A00FF;
}

.undermenu-tema {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 35px;
    line-height: 100px;
    bottom: 150px;
    right: 30px;
}

.undermenu-tema a {
    color: #000;
    text-align: right;
}

.undermenu-tema a:hover {
    color: #9A00FF;
}

/*laptop -----------------------------------------------------*/
@media (max-width: 1550px) {
    .vandretseparator {
        margin-left: 13px;
        margin-right: -24px;
    }
}


/*iPad - landscape */
@media (max-width: 1050px) {
    .site-nav {
        display: none;
    }

    .tema-nav {
        display: none;
    }

    .sectionwrapper_bm {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .burgermenu {
        display: block;
        float: right;
        font-size: 3rem;
        padding: 0;
        text-align: right;
    }

    #burgerknap {
        margin-right: 0;
        display: inline-block;
        cursor: pointer;

    }

    .burgerknap {
        margin-right: 2rem;


    }

    .burgermenulink {
        cursor: pointer;
        text-decoration: none;
    }

    #burgersection {
        position: relative;
        transition: transform 0.3s;
        transform-style: top left;
        background: #000;
        margin-top: 1.5rem;
        height: 480px;
        line-height: 100px;
        z-index: 2;
    }



    #burgersection li {
        margin-top: -0.75rem;
        margin-right: 2rem;
        text-align: center;
        padding: 10px;
    }

    #burgersection li a {
        margin-top: -0.75rem;
        margin-right: 2rem;
        text-align: center;
        padding: 0px;
        color: #fff;
    }


}

}

/*iPad---------------------------------*/

@media (max-width: 800px) {}

/*mobile landscape----------------------------------------*/
@media (max-width: 700px) {
    #burgersection {
        height: 279px;
        width: 615px;
        line-height: 53px;
    }
}

/*Mobile---------------------------------*/

@media (max-width: 420px) {
    .flex .logo .site-tag {
        display: none;
    }

    #burgersection {
        height: 480px;
        width: 100%;
        line-height: 100px;
    }



}
