.site-nav a {
    max-width: 100%;
    color: #fff;
    display: inline-block;
}

.site-tag {
    font-size: 25px;
    letter-spacing: 1px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 50px;
    color: #fff;
}

.separatorsection {
    width: 100%;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    margin-top: 30px;
}

.separatorsection_om_mig {
    width: 100%;
    height: 2px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    margin-top: 60px;
}


body {
    background-color: #000;
    color: #fff;
}

.separator {
    width: 70px;
    height: 1px;
    margin-right: 22px;
    margin-left: 22px;
    background-color: #fff;

}

.underoverskrift {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.om_migh1 {
    font-size: 90px;
    font-weight: 300;
    color: #fff;
    line-height: 90px;
    margin-left: 79px;
    margin-bottom: 80px;
    margin-top: 400px;
}

.om_migh2 {

    font-size: 35px;
    font-weight: 300;
    color: #fff;
    line-height: 70px;
    margin-left: 79px;

}

.om_migh3 {

    font-size: 40px;
    font-weight: 300;
    color: #fff;
    line-height: 70px;
    margin-bottom: 20px;


}

.om_migh3_profil {

    font-size: 40px;
    font-weight: 300;
    color: #fff;
    line-height: 70px;
    margin-bottom: 20px;


}

.col_liste {
    font-size: 30px;
    margin-right: 10px;
    line-height: 70px;
    margin-left: 30px;
}

.main {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
    position: absolute;
}

.om_mig {}

.col_txt_side_billede {}

.col_liste_sprog {
    margin-left: 30px;
    font-size: 30px;
    margin-right: 60px;
    line-height: 70px;
}

.sectionwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.sectionwrapper_pc {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.sectionwrapper_3punkt_pc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sectionwrapper_inside {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: -20px;
}

.sectionwrapper_inside .col_liste {
    margin-left: -12px;
}

.col_liste_sprog {
    margin-left: -12px;
}

.sectionwrapper_inside2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col_portraetbillede {
    width: 100%;
}

.sectionwrapper_inside2 .col p {
    font-size: 25px;
}

.col li {
    font-size: 25px;
    text-decoration: none;
}

.col_cv {
    font-size: 25px;
    list-style-type: none;
    margin-left: -38px;
    margin-top: 0px;
    line-height: 35px;
}

.col_cv li {
    margin-bottom: 60px;
    margin-top: 30px;
}



.portraetbillede {
    width: 100%;
}

#page-container {
    position: relative;
    height: 2100px;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    /* Footer height */
}


footer p {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

.sectionwrapper_3punkt_ipad {
    display: none;
}

.om_migh3_ipad {
    display: none;
}

.sectionwrapper_inside2_ipad {
    display: none;
}

.col_ipad {
    display: none;
}

.mobileversion_1 {
    display: none;
}

.mobileversion_2 {
    display: none;
}

.om_migh1_mobile {
    display: none;
}

.om_migh2_mobile {
    display: none;
}

.mobile_picture {
    display: none;
}


/*laptop -----------------------------------------------------*/
@media (max-width: 1550px) {
    #page-container {
        position: relative;
        height: 1850px;
    }

    .om_migh1 {
        font-size: 80px;
        margin-top: 250px;
        margin-left: 44px;
        margin-bottom: 54px;
    }

    .om_migh2 {
        font-size: 30px;
        line-height: 57px;
        line-height: 57px;
        margin-left: 44px;
    }

    .om_migh3 {
        font-size: 30px;

    }

    .col li {
        font-size: 23px;
    }

    .col_cv li {
        padding: 5px;
    }


}


/*iPad -----------------------------------------------------*/
@media (max-width: 800px) {

    .sectionwrapper_inside {
        margin-top: 0px;
    }

    .col_ipad {
        display: block;
        margin-top: -10px;
    }


    .sectionwrapper_pc {
        display: none;
    }


    #burgersection li a {

        color: #000;
    }


    #burgersection {

        background: #fff;

    }


    .sectionwrapper_3punkt_pc {
        display: none;
    }



    .sectionwrapper_3punkt_ipad {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sectionwrapper_3punkt_ipad .col .sectionwrapper_inside .col_liste {
        margin-left: -36px;
    }

    .sectionwrapper_3punkt_ipad .col .col_liste_sprog {
        margin-left: -36px;
    }



    #page-container {
        position: relative;
        height: 2100px;
    }

    .om_migh1 {
        font-size: 56px;
        margin-top: 30px;
        margin-left: 18px;
        line-height: 65px;
    }

    .om_migh2 {
        font-size: 20px;
        margin-left: 18px;
        line-height: 44px;
        width: 307px;
    }

    .om_migh3 {
        font-size: 27px;
        margin-left: 0px;
        line-height: 44px;
        width: 307px;
        margin-bottom: 1px;
    }

    .om_migh3_ipad {
        display: block;
        font-size: 27px;
        margin-left: 0px;
        line-height: 44px;
        width: 307px;
        margin-bottom: 1px;
    }

    .sectionwrapper_inside2_ipad {
        display: grid;

        grid-template-columns: 1fr 1fr;
    }

    .om_migh3_profil {
        font-size: 27px;
        margin-left: 0px;
        line-height: 44px;
        width: 307px;
        margin-top: 45px;
    }

    .col_liste_profil {
        font-size: 20px;
        line-height: 65px;
    }


    .sectionwrapper_3punkt_ipad .col li {
        font-size: 20px;
        line-height: 65px;
        margin-left: 18px;
    }

    .sectionwrapper_3punkt_ipad .col_liste {

        margin-left: 0px;
    }

    .sectionwrapper_3punkt_ipad .col_liste_sprog {

        margin-left: 0px;
    }

    .col_ipad .col_liste_profil {

        margin-left: -21px;
    }

    .col_ipad .om_migh3_profil {

        margin-bottom: 0px;
    }


    .sectionwrapper_3punkt_ipad .col_ipad .col_liste_sprog li {
        font-size: 20px;
        line-height: 65px;
    }

    .sectionwrapper_3punkt_ipad .col_cv li {
        font-size: 20px;
    }

    .sectionwrapper_3punkt_ipad .col_cv {
        padding: 5px;
        margin-left: -7px;
    }

    .sectionwrapper_inside2_ipad .col_cv {
        font-size: 20px;
    }

    .sectionwrapper_inside2_ipad .col_cv li {
        font-size: 20px;
        padding: 0px;
    }

    .mobileversion_1 {
        display: none;
    }

    .mobileversion_2 {
        display: none;
    }

    .om_migh1_mobile {
        display: none;
    }

    .om_migh2_mobile {
        display: none;
    }

    .mobile_picture {
        display: none;
    }

}

/*mobile----------------------------------------*/
@media (max-width: 420px) {

    .mobileversion_1 {
        display: block;
    }

    .mobileversion_1 .col_liste {
        margin-left: -20px;
    }

    .mobileversion_2 {
        display: block;
    }

    .mobileversion_2 .col_liste_2 {
        margin-left: -36px;
    }

    header {
        padding-left: 10px;
        padding-right: 10px;
    }

    .main {
        margin-left: 10px;
        margin-right: 10px;
    }


    .sectionwrapper_3punkt_ipad {
        display: none;
    }

    .col_ipad {
        display: none;
    }

    .om_migh3_ipad {
        display: none;
    }

    .sectionwrapper_inside2_ipad {
        display: none;
    }

    .sectionwrapper {
        display: none;
    }


    .mobile_picture {
        display: block;
        width: 100%;
    }

    .om_migh1_mobile {
        display: block;
        margin-left: 0px;
        margin-bottom: 20px;
        font-size: 43px;
        width: 345px;
        line-height: 49px;
        margin-top: 30px;
    }


    .om_migh2_mobile {
        display: block;
        margin-left: 0px;
        width: 345px;
        line-height: 35px;
        font-size: 18px;

    }

    .om_migh3 {
        margin-left: 0px;
        width: 345px;
        line-height: 35px;
        font-size: 26px;
        margin-bottom: 12px;

    }

    .om_migh3_cv {
        margin-left: 0px;
        width: 345px;
        line-height: 35px;
        font-size: 26px;

    }

    .col_liste {
        font-size: 20px;
        margin-left: 23px;
        line-height: 56px;
    }

    .col_liste_2 {

        font-size: 20px;
        margin-right: 10px;
        line-height: 30px;
        margin-left: 1px;
        list-style-type: none;
    }

    .col_liste_2 li {
        margin-bottom: 40px;
    }

    #page-container {
        position: relative;
        height: 2700px;
    }


}
